{% extends '../layout.html' %}
{% block main %}
<div class="logManage">
    <div class="breadcrum">
        <a href="/admin">首页</a>
        <i class="fa fa-angle-right"></i>
        <a href="/admin/content">内容管理</a>
        <i class="fa fa-angle-right"></i>
        <span>添加内容</span>
    </div>
    <div class="list paramList">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="paramdl">
                <dl>
                    <dt>内容分类</dt>
                    <dd>
                        <select class="" name="category">
                            {% for cate in cateInfo %}
                            <option value="{{cate._id.toString()}}">{{cate.catename}}</option>
                            {% endfor %}
                        </select>
                    </dd>
                    <dt>图标</dt>
                    <dd><input type="file" name="file"><input type="button" value="上传缩略图"></dd>
                    <dt>内容标题</dt>
                    <dd><input type="text" name="contitle" placeholder="请输入内容标题"></dd>
                    <dt>内容简介</dt>
                    <dd>
                        <textarea name="condesc" rows="8" cols="80" placeholder="请输入内容简介"></textarea>
                    </dd>
                    <dt id="btn1">内容</dt>
                    <dd>
                        <textarea name="content" rows="8" cols="80" placeholder="请输入内容" hidden></textarea>
                        <div id="editor">
                        </div>
                        <script type="text/javascript">
                            var E = window.wangEditor
                            var editor = new E('#editor')
                            // 或者 var editor = new E( document.getElementById('editor') )
                            // 下面两个配置，使用其中一个即可显示“上传图片”的tab。但是两者不要同时使用！！！
                            editor.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
                            // editor.customConfig.uploadImgServer = '/upload'  // 上传图片到服务器
                            // 隐藏“网络图片”tab
                            // editor.customConfig.showLinkImg = false

                            editor.customConfig.onchange = function (html) {
                                // 监控变化，同步更新到 textarea
                                $("textarea[name='content']").val(html)
                            }
                            editor.create()
                            // 初始化 textarea 的值
                            $("textarea[name='content']").val(editor.txt.html())
                            // document.getElementById('btn1').addEventListener('click', function () {
                            //     // 读取 html
                            //     alert(editor.txt.html())
                            // }, false)
                        </script>
                    </dd>
                </dl>
            </div>
            <div class="publish">
                <input type="submit" value="保存">
                <input type="button" value="取消">
            </div>
        </form>
    </div>
</div>
{% endblock %}
