{% extends '../layout.html' %}
{% block main %}
<div class="logManage">
    <div class="breadcrum">
        <a href="/admin">首页</a>
        <i class="fa fa-angle-right"></i>
        <a href="/admin/category">分类管理</a>
        <i class="fa fa-angle-right"></i>
        <span>分类修改</span>
    </div>
    <div class="list paramList">
        <form action="" method="post">
            <div class="paramdl">
                <dl>
                    <dt>内容分类</dt>
                    <dd>
                        <input type="text" name="category" value="{{conInfo.category.catename}}" readonly placeholder="请输入内容标题">
                    </dd>
                    <dt>内容标题</dt>
                    <dd><input type="text" name="contitle" value="{{conInfo.contitle}}" placeholder="请输入内容标题"></dd>
                    <dt>内容简介</dt>
                    <dd>
                        <textarea name="condesc" rows="8" cols="80" placeholder="请输入内容简介">{{conInfo.condesc}}</textarea>
                    </dd>
                    <dt>内容</dt>
                    <dd>
                        <textarea name="content" rows="8" cols="80" placeholder="请输入内容">{{conInfo.content}}</textarea>
                    </dd>
                </dl>
            </div>
            <div class="publish">
                <input type="submit" value="保存">
                <input type="button" value="取消">
            </div>
        </form>
    </div>
</div>
{% endblock %}
