{% extends '../layout.html' %}
{% block main %}
<div class="logManage">
    <div class="breadcrum">
        <a href="/admin">首页</a>
        <i class="fa fa-angle-right"></i>
        <span>内容管理</span>
    </div>
    <div class="listTable">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"><label for=""></label></th>
                    <th class="text_left">分类名称</th>
                    <th class="text_left">标题</th>
                    <th class="text_left">简介</th>
                    <th class="text_left">内容</th>
                    <th class="text_left">作者</th>
                    <th class="text_center">创建日期</th>
                    <th class="text_center">阅读量</th>
                    <th class="text_left">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for content in conInfo %}
                <tr>
                    <td><input type="checkbox"><label for=""></label></td>
                    <td class="text_left">{{content.category.catename}}</td>
                    <td class="text_left">{{content.contitle}}</td>
                    <td class="text_left">{{content.condesc}}</td>
                    <td class="text_left">{{content.content}}</td>
                    <td class="text_left">{{content.user.username}}</td>
                    <td class="text_center">{{content.addTime|date}}</td>
                    <td class="text_center">{{content.views}}</td>
                    <td class="text_left">
                        <a href="/admin/content/edit?id={{content._id.toString()}}"><i class="tip">编辑</i></a>
                        <a href="/admin/content/delete?id={{content._id.toString()}}" class="delete"><i class="tip">删除</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include '../page.html' %}
    </div>
</div>
{% endblock %}
