<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
</head>
<body>
    <header>
        <div class="topnav">
            <div class="wp cl">
                <div class="l">您好，欢迎来到Hui！</div>
                <div class="r">
                    <span class="r_nav">
                        [ <a rel="nofollow" href="javascript:login();">登录</a> ]
                    </span>
                    <span class="pipe">|</span>
                    <span class="r_nav">
                        [ <a href="javascript:register();" rel="nofollow">注册</a> ]
                    </span>
                    <span class="pipe">|</span>
                    <span class="r_nav">
                        <a title="收藏本站" href="javascript:;">收藏本站</a>
                    </span>
                    <span class="pipe">|</span>
                    <span class="r_nav">
                        <a href="javascript:void(0)" title="设为首页">设为首页</a>
                    </span>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="banner">
            <img src="/public/images/node.jpg" alt="NodeJS">
        </div>
        <div class="container-fluid">
            <div class="wp cl">
                <aside id="aside" class="aside l">
                    aside
                </aside>
                <article id="article" class="article r">
                    {{content}}
                </article>
            </div>
        </div>
    </section>
    <footer class="footer mt-20">
    	<div class="container-fluid">
    		<nav>
                <a href="#" target="_blank">关于我们</a>
                <span class="pipe">|</span>
                <a href="#" target="_blank">联系我们</a>
                <span class="pipe">|</span>
                <a href="#" target="_blank">法律声明</a>
            </nav>
    		<p>
                Copyright &copy;2016 newlifebegins All Rights Reserved.
                <br>
    			<a href="http://newlifebegins.github.io/" target="_blank" rel="nofollow">京ICP备1000000号</a>
                <br>
    		</p>
    	</div>
    </footer>
</body>
</html>
